## 导入工具文件

In [3]:
import utils.mysqlDb as db

## 1.查询数据库

In [4]:
query_sql = "select * from user"
db.query_data(query_sql)

[{'id': 1,
  'name': 'xiaoming',
  'gender': 'man',
  'age': 21,
  'email': 'xiaoming@qq.com'},
 {'id': 2,
  'name': 'xiaohong',
  'gender': 'women',
  'age': 22,
  'email': 'xiaohong@qq.com'}]

## 2.新增一条数据

In [9]:
insert_sql = """
    INSERT user (name, gender, age, email)
    VALUES('mayi', 'man', 20, 'mayi@qq.com')
"""
db.insert_or_update_data(insert_sql)

In [10]:
db.query_data(query_sql)

[{'id': 1,
  'name': 'xiaoming',
  'gender': 'man',
  'age': 21,
  'email': 'xiaoming@qq.com'},
 {'id': 2,
  'name': 'xiaohong',
  'gender': 'women',
  'age': 22,
  'email': 'xiaohong@qq.com'},
 {'id': 3, 'name': 'mayi', 'gender': 'man', 'age': 20, 'email': 'mayi@qq.com'}]

## 3.更新一条数据

In [12]:
update_sql = "UPDATE user SET name='damayi' WHERE id=3"
db.insert_or_update_data(update_sql)

In [13]:
db.query_data(query_sql)

[{'id': 1,
  'name': 'xiaoming',
  'gender': 'man',
  'age': 21,
  'email': 'xiaoming@qq.com'},
 {'id': 2,
  'name': 'xiaohong',
  'gender': 'women',
  'age': 22,
  'email': 'xiaohong@qq.com'},
 {'id': 3,
  'name': 'damayi',
  'gender': 'man',
  'age': 20,
  'email': 'mayi@qq.com'}]